GROQ_API_KEY=YOUR_GROQ_API_KEY
GROQ_TTS_DEFAULT_MODEL_ID=canopylabs/orpheus-v1-english
GROQ_TTS_DEFAULT_VOICE=hannah
GROQ_STT_MODEL_ID=whisper-large-v3-turbo

ARMORIQ_API_KEY=YOUR_ARMORIQ_API_KEY
ARMORIQ_USER_ID=your_user_id
ARMORIQ_AGENT_ID=your_agent_id
ARMORIQ_PROXY_ENDPOINT=https://customer-proxy.armoriq.ai
